<h1>New game</h1>
<ul>
<% @array.each do |letter|  %>
<li><%= letter %></li>
<% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  What is the longest word you can find ?
  <br>
  <input type="hidden" name="range" value="<%= @array.join %>">
  <input type="text" name="name">
  <input type="submit" placeholder="Play">
</form>
