ul {
  display: flex;
}

li {
  text-align: center;
  margin: 0 10px;
  list-style-type: none;
  border: solid 1px;
  padding: 10px;
  background-color: #6d98ba;
}


// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
